.mat-toolbar{
    background-color: #1151B4 ;
    font-weight: bolder;
    color: white;
  }
  
  mat-sidenav{
    width: 240px;
    padding: 15px;
  }
  .mat-drawer{
    background-color:  #1151B4 ;
    color: white;
  }
  .main-content{
    padding: 20px;
  }

  .toolbar-spacer{
    flex: 1 1 auto;
  }
  mat-sidenav-container{
    height: 100%;
  }